img {
    display: block;
    margin: auto;
    max-width: 1100px;
    box-shadow: 0 35px 80px 0 rgba(255, 197, 227, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1 {
    color: white;
    text-decoration-style: dotted;
    font-family: 'Times New Roman', Times, serif;

}
body {
    background-color: rgb(35, 35, 35);
    
}
* {
    box-sizing: border-box;
}
@media (max-width: 600px) {
    body {
        font-size: 12px;
        background-color: rgb(95, 63, 125);
        color: rgb(214, 189, 236);
    }
    img {
        max-width: 393px;
    }

}
